# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.bin
*.bin
Project Atos/Library/ShaderCache/0/0176a43f39aa3e8f7359bb98c145c669.bin
*.bin
*.bin
Project Atos/Library/ShaderCache/0/026a4d0ea4b6e702215bb923d954ede1.bin
*.bin
*.bin
*.bin
Project Atos/Library/ShaderCache/1/1032fba4527e72592ecc80770fa00037.bin
Project Atos/Temp/UnityLockfile
